html, body {
	height: 100%;
}
body {
	background-color: black;
	font-family: arial;
	color: #ffcc00;
	margin: 0;
	padding: 0;
}
#wrapper {
	position: relative;
	z-index: 1;
	width: 968px;
	margin: 0 auto;
	min-height: 100%;
	overflow: auto;
	background: url(stars2.png) no-repeat center center;
}
#banner {
	height: 100px;
}
#logo {
	float: left;
	width: 43%;
	font-family: Times New Roman;
}
#logo a {
	font-size: 45px;
	text-decoration: none;
	font-weight: 900;
	color:#7f80ff;
}
#logo a span {
	color: #b1b1ff;
	font-style: italic;
}
#logo #under {
	font-size: small;
	color: red;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 800;
}
#upper_menu {
	float: right;
	width: 56%;
	margin:0;
	margin-top: 20px;
	padding:0;
}
#upper_menu li {
	width: 150px;
	float:right;
	margin-right: 16px;
	font-size: 24px;
	font-style: italic;
	line-height: 39px;
	font-weight: 800;
}
.pill {
	height: 39px;
	border-radius: 20px;
	min-width: 83px;
	background-color: red;
	padding: 0 auto;
	text-align: center;
	display: inline-block;
}
#overview ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 37px;
	padding-top: 23px;
}
#overview ul li .pill {
	margin-right: 15px;
}
#overview ul li {
	font-size: 22px;
	height: 39px;
	vertical-align: top;
	margin: 0;
	padding: 0;
	font-style: italic;
	line-height: 39px;
	font-weight: 800;
	margin-bottom: 33px;
}
.nr1 {color: #cc0000;}
.nr1:hover {color: #ff0000;}
.nr2 {color: #cc6600;}
.nr2:hover {color: #ff9900;}
.nr3 {color: #cc9900;}
.nr3:hover {color: #ffcc00;}
.nr4 {color: #cccc00;}
.nr4:hover {color: #ffff00;}
.nr5 {color: #009933;}
.nr5:hover {color: #00cc66;}
.nr6 {color: #0099cc;}
.nr6:hover {color: #00ccff;}
.nr7 {color: #0033cc;}
.nr7:hover {color: #0066ff;}
.nr8 {color: #990099;}
.nr8:hover {color: #cc00cc;}
.nr1 .pill {background-color: #cc0000;}
.nr1:hover .pill {background-color: #ff0000;}
.nr2 .pill {background-color: #cc6600;}
.nr2:hover .pill {background-color: #ff9900;}
.nr3 .pill {background-color: #cc9900;}
.nr3:hover .pill {background-color: #ffcc00;}
.nr4 .pill {background-color: #cccc00;}
.nr4:hover .pill {background-color: #ffff00;}
.nr5 .pill {background-color: #009933;}
.nr5:hover .pill {background-color: #00cc66;}
.nr6 .pill {background-color: #0099cc;}
.nr6:hover .pill {background-color: #00ccff;}
.nr7 .pill {background-color: #0033cc;}
.nr7:hover .pill {background-color: #0066ff;}
.nr8 .pill {background-color: #990099;}
.nr8:hover .pill {background-color: #cc00cc;}

#link_to_original {
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	margin:0;
	padding: 0;
	text-align: center;
}
#link_to_original a {
	color: #fff;
}
#bannerlink1 {
	background-color: #990000;
}
#bannerlink1 a {
	color: #cccccc;
	text-decoration: none;
}
#bannerlink2 {
	background-color: #666699;
}
#bannerlink2 a {
	color: #9999cc;
	text-decoration: none;
}
#bannerlink3 {
	background-color: #beb2d3; 
}
#bannerlink3 a {
	color: #666699;
	text-decoration: none;
}
#bannerlink1:hover {
	background-color: #ff0000;
}
#bannerlink1:hover a {
	color: #ffffff;
	text-decoration: none;
}
#bannerlink2:hover {
	background-color: #9999cc;
}
#bannerlink2:hover a {
	color: #ccccff;
	text-decoration: none;
}
#bannerlink3:hover {
	background-color: #ebeaff; 
}
#bannerlink3:hover a {
	color: #666699;
	text-decoration: none;
}
